<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Checkmate</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script defer src="../static/js/typewriter/core.js"></script>
        <script defer src="../static/js/main.js"></script>
    </head>
    <body>
        <nav class="navbar is-dark">
            <div class="container">
                <div class="navbar-brand">
                    <a role="button" class="navbar-burger" data-target="navmenu" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="navmenu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">Home</a>
                        <a class="navbar-item">Get Started</a>
                        <a class="navbar-item">Docs</a>
                        <a class="navbar-item">About</a>
                    </div>
                </div>
            </div>
        </nav>
        <section class="hero is-large is-dark is-bold">
            <div class="hero-body">
                <div class="columns is-vcentered">
                    <div class="column is-two-thirds">
                        <div class="container">
                            <h1 class="title is-1">Phishing protection anyone can use.</h1>
                            <h4 class="subtitle">An anti-phishing API built for non technical users. <a class="has-text-weight-semibold">Get started today</a>.</h4>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="content is-medium is-family-monospace">
                            > <span id="showcase"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section has-background-grey-darker has-text-white is-large">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-three-fifths">
                        <div class="content is-large">
                            <h1 class="title is-1 has-text-white">Phishing is a big problem</h1>
                            <p>Every day, more and more people fall victim to online phishing scams.</p>
                            <p>Technical users are designing ways to protect organisations from phishing attacks, but non technical users are taught to detect phishing by checking for typos.</p>
                            <p>In the 21st Century, that isn't enough.</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="notification is-light has-background-grey-lighter">
                            <div class="content is-large is-family-secondary has-text-right">
                                <h2 class="title is-1">> 52% </h2>
                                <h5 class="subtitle">Email traffic used for spam, 2018 <a href="https://securelist.com/spam-and-phishing-in-2018/89701/">[Kaspersky]</a></h5>
                            </div>
                        </div>
                        <div class="notification is-light has-background-grey-lighter">
                            <div class="content is-large is-family-secondary has-text-right">
                                <h2 class="title is-1">> 75%</h2>
                                <h5 class="subtitle">Organisations reported phishing attacks, 2017 <a href="https://www.wombatsecurity.com/state-of-the-phish">[Wombat Security]</a></h5>
                            </div>
                        </div>
                        <div class="notification is-light has-background-grey-lighter">
                            <div class="content is-large is-family-secondary has-text-right">
                                <h2 class="title is-1">> 978 million</h2>
                                <h5 class="subtitle">Global victims of cybercrime worldwide, 2017 <a href="https://now.symassets.com/content/dam/norton/global/pdfs/norton_cybersecurity_insights/2017-NCSIR-global-results-UK.pdf">[Symantec]</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section has-background-grey-lighter is-large">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-three-fifths">
                        <div class="content is-large has-text-justify">
                            <h1 class="title is-1">Here's our solution</h1>
                            <p>We're designing a standardised way to mutually authenticate clients across nearly any communication medium.</p>
                            <p>Checkmate codes are three words and a four digit PIN which are unique to a user's account with a client, which only the client has direct access to.</p>
                            <p>Users can request and verify a code to authenticate the client themselves.</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="notification is-dark">
                            <div class="content is-medium is-family-secondary has-text-right">
                                <h2 class="title is-1">> {{apis}}</h2>
                                <h5 class="subtitle">Registered API clients, all with a unique API key and salt values</h5>
                            </div>
                        </div>
                        <div class="notification is-dark">
                            <div class="content is-medium is-family-secondary has-text-right">
                                <h2 class="title is-1">> {{accounts}}</h2>
                                <h5 class="subtitle">Registered user accounts, with no sensitive user data stored</h5>
                            </div>
                        </div>
                        <div class="notification is-dark">
                            <div class="content is-medium is-family-secondary has-text-right">
                                <h2 class="title is-1">> 180 trillion</h2>
                                <h5 class="subtitle">Possible user account codes, all generated with natural language processing</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section is-medium">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-two-fifths">
                        <div class="content is-medium has-text-centered">
                            <h1 class="title is-1">Checkmate codes are:</h1>
                            <h4 class="title is-4">Easy to verify</h4>
                            <p>We encourage users to write down their codes in a secure place to make it quick and easy to verify</p>
                            <h4 class="title is-4">Difficult to phish</h4>
                            <p>User's don't have to recall codes often, making them harder for attackers to gain through socially engineer</p>
                            <h4 class="title is-4">Easy to teach</h4>
                            <p>Teaching users to look for a clearly defined code is easier, and more reliable, than teaching them to look for typos.</p>
                            <h4 class="title is-4">Difficult to fake</h4>
                            <p>With so many combinations, actual codes are hard for scammers to fake.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="hero is-large is-dark is-bold has-text-centered">
            <div class="hero-body">
                <div class="columns is-centered">
                    <div class="column is-two-fifths">
                        <a class="title button is-light is-rounded has-text-black is-1">Get started today</a>
                        <h4 class="title is-4">And join the future of user-oriented phishing protection</h4>
                    </div>
                </div>
            </div>
        </section>
        <!--
        <section class="section">
            <div class="columns">
                <div class="column">
                    <div class="notification is-dark">
                        <div class="content is-medium is-family-secondary">
                            <h2 class="title is-4">Registration</h2>
                            <ol type="1">
                                <li>User registers with client</li>
                                <li>Client registers user account with Checkmate using their private key</li>
                                <li>Checkmate generates a new code for the account</li>
                                <li>Client displays code to user whenever they log in</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="notification is-dark">
                        <div class="content is-medium is-family-secondary">
                            <h2 class="title is-4">Authentication</h2>
                            <ol type="1">
                                <li>Client requests a user's account code using their private key</li>
                                <li>Checkmate returns a user's account code</li>
                                <li>Client includes code in their communication with the user</li>
                                <li>User verifies that the code matches the code they received during registration</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        !>
    </body>
</html>