<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Checkmate</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script defer src="../static/js/typewriter/core.js"></script>
        <script defer src="../static/js/main.js"></script>
    </head>
    <body>
        <nav class="navbar is-dark">
            <div class="container">
                <div class="navbar-brand">
                    <a role="button" class="navbar-burger" data-target="navmenu" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="navmenu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">Home</a>
                        <a class="navbar-item">Docs</a>
                        <a class="navbar-item">About</a>
                    </div>
                </div>
            </div>
        </nav>
        <section class="hero is-medium is-dark is-bold">
            <div class="hero-body">
                <div class="columns is-vcentered">
                    <div class="column is-two-thirds">
                        <div class="container">
                            <h1 class="title is-1">Checkmate. Phishing protection anyone can use.</h1>
                            <h4 class="subtitle">An anti-phishing API built for non technical users.</h4>
                        </div>
                    </div>
                    <div class="column">
                        <div class="content is-medium is-family-monospace">
                            > <span id="showcase"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-three-fifths">
                        <div class="content is-large">
                            <h2 class="title is-2">Phishing is a big problem</h2>
                            <p>
                                Every day, non technical users fall victim to online phishing scams because
                                they don't have the technical skill required to authenticate clients. People
                                often only rely on spotting typos to detect impersonation. 
                            </p>
                            <p>
                                <strong>In the 21st Century, that isn't enough.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="notification is-dark">
                            <div class="content is-medium has-text-right is-family-secondary">
                                <p>
                                    The advice given in many training packages is based on spotting standard signs like 
                                    checking for poor spelling and grammar, and while these can be a good place to start, 
                                    they can’t be used to spot all phishing emails. Bad guys can spell (and some nice genuine people can’t)
                                </p>
                                <p>
                                    <i>Kate R, NCSC 2018</i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column">
                        <h2 class="title is-2">Examples go here</h2>
                    </div>
                    <div class="column is-two-thirds">
                        <div class="content is-large">
                            <h2 class="title is-2">Here's our solution</h2>
                            <p>
                                Checkmate allows users to <strong>mutually authenticate</strong> clients in their
                                communications, from emails to calls, using a secret code only the client can access. 
                                This allows users to detect scammers who can't access their secret code.
                            </p>
                            <p>
                                <strong>Users can instantly recognise impersonators</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>