<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> > Checkmate</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script defer src="../static/js/typewriter/core.js"></script>
        <script defer src="../static/js/main.js"></script>
    </head>
    <body>
        <nav class="navbar is-dark">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="../static/img/logo.png" alt="Logo">
                    </a>
                    <a role="button" class="navbar-burger" data-target="navmenu" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="navmenu">
                    <div class="navbar-end">
                        <a class="navbar-item">Home</a>
                        <a class="navbar-item">Get Started</a>
                        <a class="navbar-item">Docs</a>
                        <a class="navbar-item">About</a>
                    </div>
                </div>
            </div>
        </nav>
        <footer class="footer has-background-white">
            <div class="content has-text-centered">
                <h4 class="title is-5">Developed by <a href="https://alistairrobinson.github.io">Alistair Robinson</a>. Website built with <a href="https://bulma.io/">Bulma</a>.</h4>
            </div>
        </footer>
    </body>
</html>